<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>詳情頁</title>
</head>
<body>
    <h1>詳情頁面</h1>
    <table>
        <thead>
            <tr>
                <td>一</td>
                <td>二</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ one }}</td>
                <td>{{ two }}</td>
            </tr>
        </tbody>
    </table>
</body>
</html>